# Compiled output
*.class
*.war
*.ear
*.jmod
out/
bin/
target/
build/

# Allow release files
!UIU-CGPA-Calculator.jar
!UIU-CGPA-Calculator-Windows-Portable.zip

# jpackage build directory
UIU-CGPA-Calculator/

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db
